#### System Files ####
.DS_Store
.tool-versions

#### Editor Files ####
.idea

#### Config Files ####
.env

#### Dependencies ####
node_modules
.sass-cache
.jekyll-metadata
npm-debug.log
/vendor

#### Public ####
html
_site
assets
