#### System Files ####
.DS_Store

#### Editor Files ####
.idea

#### Config Files ####
.env

#### Dependencies ####
node_modules
.sass-cache
.jekyll-metadata
npm-debug.log
vendor
!src/scripts/vendor

#### Public ####
html
_site
assets
