<header class="main-header">
  <button id="nav-toggle" class="nav-toggle" aria-label="navigation" aria-expanded="false" aria-controls="main-nav">
    <span id="nav-line-1" class="nav-line nav-line-1"></span>
    <span id="nav-line-2" class="nav-line nav-line-2"></span>
    <span id="nav-line-3" class="nav-line nav-line-3"></span>
  </button>
  <div id="nav-overlay" class="nav-overlay"></div>
  <nav id="main-nav" class="main-nav panel" aria-hidden="true">
    <ul id="nav-items">
      <li class="nav-item"><a class="super-link" href="/">About</a></li>
      <li class="nav-item"><a class="super-link" href="{{ site.work-link }}">Work</a></li>
      <li class="nav-item"><a class="super-link" href="{{ site.blog-link }}">Blog</a></li>
      <li class="nav-item"><a id="contact-nav-link" aria-expanded="false" aria-controls="nav-contact" href="#">Contact</a></li>
    </ul>
    <ul id="nav-contact" class="nav-contact" aria-hidden="true">
      <li class="nav-contact"><a aria-label="email hello@joshcummingsdesign.com" href="mailto:hello@joshcummingsdesign.com">hello@joshcummingsdesign</a></li>
      <li class="nav-contact"><a aria-label="call 858-376-7088" href="tel:1-858-376-7088">858.376.7088</a></li>
    </ul>
  </nav>
</header>
